[submodule "_SemanticFastForward_JVCI_2018"]
	path = _SemanticFastForward_JVCI_2018
	url = https://github.com/verlab/SemanticFastForward_JVCI_2018.git
[submodule "_npy-matlab"]
        path = _npy-matlab
        url = https://github.com/kwikteam/npy-matlab.git

